<%= render "templates/focussed", page_heading: "Sign in to your account" do %>
  <div class="Box-body">
    <%= render "form", url: sessions_path %>
  </div>
  <div class="Box-footer text-gray text-center">
    Don't have an account? <%= link_to "Sign up", new_user_path %>
  </div>
  <% content_for :footer do %>
    <p class="mt-5 text-center text-gray f6">
      Having trouble? Contact us.
    </p>
  <% end %>
<% end %>
