@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $spacer-map {
      .m-#{$infix}#{$prop} {
        margin: $value !important;
      }

      .my-#{$infix}#{$prop},
      .mt-#{$infix}#{$prop} {
        margin-top: $value !important;
      }

      .my-#{$infix}#{$prop},
      .mb-#{$infix}#{$prop} {
        margin-bottom: $value !important;
      }

      .mx-#{$infix}#{$prop},
      .ml-#{$infix}#{$prop} {
        margin-left: $value !important;
      }

      .mx-#{$infix}#{$prop},
      .mr-#{$infix}#{$prop} {
        margin-right: $value !important;
      }
    }
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
