@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $spacer-map {
      .p-#{$infix}#{$prop} {
        padding: $value !important;
      }

      .py-#{$infix}#{$prop},
      .pt-#{$infix}#{$prop} {
        padding-top: $value !important;
      }

      .py-#{$infix}#{$prop},
      .pb-#{$infix}#{$prop} {
        padding-bottom: $value !important;
      }

      .px-#{$infix}#{$prop},
      .pl-#{$infix}#{$prop} {
        padding-left: $value !important;
      }

      .px-#{$infix}#{$prop},
      .pr-#{$infix}#{$prop} {
        padding-right: $value !important;
      }
    }
  }
}
