// Heading sizes - mobile
// $h1-size-mobile: 26px;
// $h2-size-mobile: 22px;
// $h3-size-mobile: 18px;

// Heading size - desktop
// $h1-size: 32px;
// $h2-size: 24px;
// $h3-size: 20px;
// $h4-size: 16px;
// $h5-size: 14px;
// $h6-size: 12px;

// Heading utilities
.h1,
.m1 {
  font-size: $h1-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h1-size !important;
  }
}

.f6 {
  font-size: $h6-size !important;
}

// Font weights
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $font-weight-semibold !important;
}

.m1,
.m2,
.m3,
.m4,
.m5,
.m6 {
  font-weight: $font-weight-bold !important;
}

// Text alignments
.text-center {
  text-align: center !important;
}

// Line heights
.lh-5 {
  line-height: 20px !important;
}
