// Displays map
$displays: (
  flex: flex,
  hidden: none,
);

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $displays {
      .#{$infix}#{$prop} {
        display: $value !important;
      }
    }
  }
}
