.btn {
  display: inline-block;
  padding: 7px 16px;
  font-size: $body-font-size;
  font-weight: $font-weight-semibold;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: $border;
  border-radius: $border-radius;
  appearance: none;
  background-color: $bg-gray-light;
  transition: all 150ms ease-in-out;
  outline: none;
  text-align: center;

  &:hover {
    text-decoration: none;
    background-color: $bg-gray;
  }

  &:active {
    background-color: #aaa;
  }
}

.btn-primary {
  $bg-color: $blue-500;

  background-color: $bg-color;
  color: $white;

  &:focus {
    border-color: $bg-color;
    box-shadow: $box-shadow-focus;
  }

  &:hover {
    background-color: $blue-600;
  }

  &:active {
    background-color: $blue-700;
  }
}

.btn-block {
  width: 100%;
}
