// Border
$border-gray: $gray-200;

// Background
$bg-white: $white;
$bg-gray-light: $gray-000;
$bg-gray: $gray-100;

// Text
$text-gray-light: $gray-500;
$text-gray: $gray-600;
$text-gray-dark: $gray-900;
$text-blue: $blue-600;
$text-red: $red-600;
