// Default
$white: #fff;

// Gray
$gray-000: #fafbfc;
$gray-100: #f6f8fa;
$gray-200: #e1e4e8;
$gray-400: #959da5;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-900: #24292e;

// Blue
$blue-500: #0066ff;
$blue-600: #005ce6;
$blue-700: #0052cc;

// Red
$red-500: #d73a49;
$red-600: #cb2431;
$red-700: #b31d28;
