// Border
$border-width: 1px;
$border-color: $border-gray;
$border-style: solid;

// Border radius
$border-radius-1: 6px;
$border-radius: $border-radius-1;

// Box shadow
$box-shadow-focus: 0px 0px 0px 3px rgba($border-blue, 0.25);
