.form-group {
  label {
    margin-bottom: 8px;
    display: inline-block;
  }

  .form-control {
    display: block;
    width: 100%;
    max-width: 416px;
  }

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}
