label {
  font-weight: $font-weight-semibold;
}

.form-control {
  padding: 7px 12px;
  border-radius: $border-radius;
  line-height: 20px;
  color: $text-gray-dark;
  background-color: $bg-white;
  border: $border-width $border-style $border-color;
  outline: none;
  font-size: $body-font-size;

  &:focus {
    border-color: $border-blue;
    outline: none;
    box-shadow: $box-shadow-focus;
  }
}
